.tablero {
    width: 80vw;
    height: 80vw;
    border: 5px solid black;
    border-radius: 10%;
    background-color: '#CCC';
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 2000px;
}